@import '../../styles/colors.css';

.Voter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Voter__UpVote {
  cursor: pointer;
}

.Voter__UpVote:hover {
  color: var(--green-500);
}

.Voter__DownVote {
  cursor: pointer;
}

.Voter__DownVote:hover {
  color: var(--red-500);
}

.Voter_horizontal {
  flex-direction: row;
}

.Voter_size_s {
  font-size: 1rem;
}

.Voter_size_m {
  font-size: 1.5rem;
}

.Voter_size_l {
  font-size: 2rem;
}
