@import '../../styles/colors.css';

.CategoryView {
}

.CategoryView__NavigationBarContainer {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-left: 0.75rem;
  background-color: var(--white-a7);
  backdrop-filter: var(--brighten-n-blur);
  border-bottom: 1px solid var(--gray-200);
}

.CategoryView__NavigationBar {
  max-width: 1140px;
  margin: 0 auto;
}

.CategoryView__NavigationBar_hidden {
  display: none;
}

.CategoryView__MenuButton {
  font-size: 2rem;
  padding: 0.25rem 0.5rem;
  border: none;
  background: none;
}

.CategoryView__MenuButton:focus {
  outline: none;
}

@media (min-width: 769px) {
  .CategoryView__MenuButton {
    display: none;
  }

  .CategoryView__NavigationBar_hidden {
    display: block;
  }
}

.CategoryView__PostList {
  padding: 1.5rem 1rem;
  max-width: 1140px;
  margin: 0 auto;
}

.CategoryView__Post {
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.CategoryView__LoadingIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: calc(35vh - 8rem);
}
