@import '../../styles/colors.css';

.CategoryNav {
  min-width: 320px;
}

.CategoryNav__List {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  /* background-color: var(--red); */
}

.CategoryNav__Item {
  width: 80px;
  padding: 8px;
  text-align: center;
  color: var(--gray-800);
}

.CategoryNav__Item:hover {
  text-decoration: none;
  color: var(--white);
  background-color: var(--pink);
}

.CategoryNav__Item_active {
  color: var(--white);
  background-color: var(--pink-tint);
  cursor: not-allowed;
}

.CategoryNav__Item_active:hover {
  color: var(--white);
  background-color: var(--pink-tint);
}
