@import '../../styles/colors.css';

.Comment {
  display: grid;
  grid-template-rows: minmax(1.5rem, auto) minmax(2.5rem, auto) minmax(
      1.5rem,
      auto
    );
  grid-template-columns: 2.5rem auto;
  grid-template-areas: 'aside header' 'aside body' 'aside footer';
  min-width: 320px;
  max-width: 1140px;
  align-items: center;
}

.Comment__Header {
  grid-area: header;
  font-size: 0.875rem;
  padding: 0.5rem 0.5rem 0;
}

.Comment__Header em {
  padding-right: 0.5rem;
}

.Comment__Body {
  grid-area: body;
  padding: 0.5rem 0.5rem 0;
}

.Comment__TextInput {
  width: 100%;
  padding: 0.5rem;
}

.Comment__Aside {
  grid-area: aside;
  border-right: 2px solid var(--gray-300);
  height: 100%;
  padding-top: 1rem;
}

.Comment__Aside_votes_positive {
  border-color: var(--green);
}

.Comment__Aside_votes_negative {
  border-color: var(--red);
}

.Comment__Footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem;
  padding: 0.5rem 0.5rem 0.25rem;
}
