@import '../../../styles/colors.css';

.Button {
  border: none;
  outline: none;
  text-transform: uppercase;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--teal-tint);
  color: var(--white);
}

.Button:focus {
  outline: none;
}

.Button:hover {
  background-color: var(--teal);
}

.Button__Icon {
  font-size: 1.5rem;
  padding-right: 0.25rem;
}

.Button__Text {
  margin: 0 auto;
}

.Button_size_inline {
  padding: 0.25rem;
  background: none;
  color: var(--teal-tint);
}

.Button_size_inline:hover {
  background: none;
  color: var(--teal);
}

.Button_size_inline .Button__Icon {
  font-size: 1.25rem;
  padding-right: 0.25rem;
}

.Button_size_s {
  padding: 0.25rem 0.5rem;
}

.Button_size_s .Button__Icon {
  font-size: 1.25rem;
  padding-right: 0.25rem;
}

.Button_size_m {
  padding: 0.5rem 0.75rem;
}

.Button_size_m .Button_Icon {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

.Button_size_l {
  padding: 0.75rem 1.25rem;
}

.Button_size_l .Button_Icon {
  font-size: 2rem;
  padding-right: 0.5rem;
}

.Button_size_block {
  padding: 0.5rem 1rem;
  width: 100%;
}

.Button_color_success {
  background-color: var(--green);
}

.Button_color_success:hover {
  background-color: var(--green-tint);
}

.Button_color_warning {
  background-color: var(--yellow);
}

.Button_color_warning:hover {
  background-color: var(--yellow-tint);
}

.Button_color_danger {
  background-color: var(--red);
}

.Button_color_danger:hover {
  background-color: var(--red-tint);
}
