@import '../../styles/colors.css';

.CommentForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 320px;
  width: 100%;
  border-color: var(--gray-200);
  border-radius: 4px;
}

.CommentForm__Header {
  font-size: 0.875rem;
  min-width: inherit;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
}

.CommentForm__AuthorInput {
  margin: 0;
  min-width: 320px;
  width: 50%;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.CommentForm__AuthorInputLabel {
  padding-left: 0.5rem;
  padding-right: 1rem;
  font-weight: 700;
}

.CommentForm__AuthorInputBox {
  flex-grow: 1;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--gray-200);
}

.CommentForm__Body {
  min-width: inherit;
  width: 100%;
  min-height: 10rem;
  padding: 1rem;
  border: 1px solid var(--gray-200);
}

.CommentForm__Footer {
  min-width: inherit;
  width: 100%;
  padding: 0.5rem;
}
