@import '../../styles/colors.css';

.Post {
  display: grid;
  grid-template-rows: minmax(2rem, auto) minmax(4rem, auto) minmax(
      2rem,
      auto
    );
  grid-template-columns: 3rem auto;
  grid-template-areas: 'aside header' 'aside body' 'aside footer';
  background-color: var(--white-a7);
  backdrop-filter: var(--brighten-n-blur);
}

.Post__Header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  padding: 0.5rem;
  color: var(--gray-600);
}

.Post__Header span {
  padding-left: 0.5rem;
}

.Post__Header span:first-of-type {
  padding: 0;
}

.Post__Category {
  font-weight: 700;
  color: var(--pink);
}

.Post__Aside {
  grid-area: aside;
  align-items: center;
  color: var(--gray-100);
  background-color: var(--black-a7);
  padding-top: 2rem;
}

.Post__Body {
  grid-area: body;
  border-top: 1px solid var(--gray-200);
  border-bottom: 1px solid var(--gray-200);
  padding: 0.5rem;
  padding-bottom: 0;
  cursor: pointer;
}

.Post__Title {
  font-weight: 700;
}

.Post__Footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem;
  padding: 0.5rem;
}
