@import '../../../styles/colors.css';

.Selector {
  min-width: 12rem;
  cursor: pointer;
  position: relative;
}

.Selector_listOpen {
  z-index: 110;
}

.Selector__Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  padding: 0.5rem;
}

.Selector__Placeholder {
  color: var(--gray-600);
}

.Selector__Icon {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.Selector__List {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  max-height: 80vh;
  border: 1px solid var(--gray-300);
  border-top: none;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--white);
  list-style: none;
}

.Selector__ListItem {
  border-bottom: 1px solid var(--gray-300);
  padding: 0.75rem;
}

.Selector__ListItem:hover {
  color: var(--white);
  background-color: var(--teal);
}

.Selector__ListItem:last-of-type {
  border: none;
}

.Selector__ListIcon {
  padding-right: 1rem;
}
