.Selector {
  min-width: 200px;
  cursor: pointer;
  position: relative;
  text-transform: lowercase;
}

.Selector_listOpen {
  z-index: 110;
}

.Selector__Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 56px;
  padding: 1rem;
}

.Selector__Icon {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.Selector__List {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Selector__ListItem {
  border-bottom: 1px solid #e6e6e6;
  padding: 18px 16px;
}

.Selector__ListItem:hover {
  color: #fa7268;
}

.Selector__ListItem:last-of-type {
  border: none;
}
