.Selector {
  width: 280px;
  cursor: pointer;
  position: relative;
  border: 1px solid #e6e6e6;
}

.Selector_listOpen {
  z-index: 110;
}

.Selector__Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding: 8px 20px;
}

.Selector__Icon {
  font-size: 1.5rem;
}

.Selector__List {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #e6e6e6;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Selector__ListItem {
  border-bottom: 1px solid #e6e6e6;
  padding: 18px 16px;
}

.Selector__ListItem:first-of-type {
  border-top: 1px solid #e6e6e6;
}

.Selector__ListItem:last-of-type {
  border: none;
}

.Selector__Background {
}

.selector {
  background-color: red;
  padding: 20px;
  width: 30px;
  cursor: pointer;
  position: relative;
  z-index: 200;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 2rem;
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: red;
}

.list li {
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.list li:last-of-type {
  border: none;
}
