@import '../../styles/colors.css';

.Footer {
  width: 100%;
  min-height: 2.5rem;
  color: var(--white);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--black-a5);
  backdrop-filter: var(--brighten-n-blur);
  word-spacing: 0.25rem;
}

@media (max-width: 599px) {
  .Footer {
    flex-flow: column;
  }
}

.Footer__Heart {
  color: var(--red-tint);
  font-weight: 700;
}

.Footer__Link {
  color: var(--white);
  font-weight: 700;
  text-decoration: underline;
  padding-right: 0.5rem;
}
