@import '../../styles/colors.css';

.PostForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.PostForm__Field {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.PostForm__CategorySelector {
  min-width: 320px;
  width: 40%;
  border: 1px solid var(--gray-300);
  background-color: var(--white);
}

.PostForm__Label {
  font-weight: 700;
  font-size: 0.875rem;
}

.PostForm__Input {
  padding: 0.5rem;
  border: 1px solid var(--gray-300);
}

.PostForm__Body {
  composes: PostForm__Input;
  height: 10rem;
}

.PostForm__Footer {
  margin-top: 1rem;
}
