.Post {
  display: grid;
  grid-template-rows: minmax(36px, auto) minmax(64px, auto) minmax(
      36px,
      auto
    );
  grid-template-columns: 40px auto;
  grid-template-areas: 'aside header' 'aside body' 'aside footer';
  margin: 30px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 2px 2px 0px rgba(180, 180, 180, 1);
  color: #333;
}

.Post__Header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #666;
  font-size: 0.875rem;
  padding: 8px;
}

.Post__Header span {
  padding-left: 0.5rem;
}

.Post__Category {
  font-weight: 700;
  color: #de4d44;
}

.Post__Aside {
  grid-area: aside;
  align-items: center;
  border-right: 1px solid #e6e6e6;
  background-color: #e6e6e6;
  padding-top: 40px;
}

.Post__Body {
  grid-area: body;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.Post__Title {
  font-weight: 700;
}

.Post__Footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #666;
  font-size: 0.875rem;
  padding: 8px;
}
