@import './styles/colors.css';

.App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: screen;
  scroll-behavior: smooth;
}

.App__Header {
  background-color: var(--white-a7);
  text-align: center;
  padding: 1rem;
  width: 100%;
  backdrop-filter: blur(10px);
}

.App__Header a {
  color: var(--gray-900);
  font-weight: 700;
  text-decoration: underline;
}

.App__Header a:hover {
  color: var(--teal-tint);
}

.App__Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
