@import '../../styles/colors.css';

.Sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  min-width: 20rem;
}

.Sort__Label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5rem;
}

.Sort__Icon {
  color: var(--pink);
  font-size: 2rem;
  margin-right: 0.5rem;
}
